.list-view {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.list-view:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.mail-options {
    display: flex;
}

.mail-subject {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}

.mail-subject > h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.mail-title {
    font-size: 13px;
    flex: 0.3;
}

.mail-timeStamp {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.mail-description {
    font-weight: 400;
    color: gray;
}