.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left > img {
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.header-mid {
    align-items: center;
    display: flex;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header-mid > .MuiSvgIcon-root {
    color: gray;
}

.header-mid > input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: transparent;
}

.header-right {
    display: flex;
    padding-right: 20px;
}